:global {
    //****************************************** TEXT-INDENT ******************************************/
    .ti-1   {text-indent: 1px  }
    .ti-2   {text-indent: 2px  }
    .ti-4   {text-indent: 4px  }
    .ti-5   {text-indent: 5px  }
    .ti-8   {text-indent: 8px  }
    .ti-10  {text-indent: 10px }
    .ti-15  {text-indent: 15px }
    .ti-20  {text-indent: 20px }
    .ti-25  {text-indent: 25px }
    .ti-30  {text-indent: 30px }
    .ti-40  {text-indent: 40px }
    .ti-50  {text-indent: 50px }
    .ti-75  {text-indent: 75px }
    .ti-100 {text-indent: 100px}

    /********************************************* TEXT **********************************************/
    div div div .fs-10, div div .fs-10, div .fs-10, .fs-10 {font-size: 10px}
    div div div .fs-11, div div .fs-11, div .fs-11, .fs-11 {font-size: 11px}
    div div div .fs-12, div div .fs-12, div .fs-12, .fs-12 {font-size: 12px}
    div div div .fs-13, div div .fs-13, div .fs-13, .fs-13 {font-size: 13px}
    div div div .fs-14, div div .fs-14, div .fs-14, .fs-14 {font-size: 14px}
    div div div .fs-15, div div .fs-15, div .fs-15, .fs-15 {font-size: 15px}
    div div div .fs-16, div div .fs-16, div .fs-16, .fs-16 {font-size: 16px}
    div div div .fs-17, div div .fs-17, div .fs-17, .fs-17 {font-size: 17px}
    div div div .fs-18, div div .fs-18, div .fs-18, .fs-18 {font-size: 18px}
    div div div .fs-19, div div .fs-19, div .fs-19, .fs-19 {font-size: 19px}
    div div div .fs-20, div div .fs-20, div .fs-20, .fs-20 {font-size: 20px}
    div div div .fs-21, div div .fs-21, div .fs-21, .fs-21 {font-size: 21px}
    div div div .fs-22, div div .fs-22, div .fs-22, .fs-22 {font-size: 22px}
    div div div .fs-23, div div .fs-23, div .fs-23, .fs-23 {font-size: 23px}
    div div div .fs-24, div div .fs-24, div .fs-24, .fs-24 {font-size: 24px}
    div div div .fs-25, div div .fs-25, div .fs-25, .fs-25 {font-size: 25px}
    div div div .fs-26, div div .fs-26, div .fs-26, .fs-26 {font-size: 26px}
    div div div .fs-27, div div .fs-27, div .fs-27, .fs-27 {font-size: 27px}
    div div div .fs-28, div div .fs-28, div .fs-28, .fs-28 {font-size: 28px}
    div div div .fs-29, div div .fs-29, div .fs-29, .fs-29 {font-size: 29px}
    div div div .fs-30, div div .fs-30, div .fs-30, .fs-30 {font-size: 30px}
    div div div .fs-31, div div .fs-31, div .fs-31, .fs-31 {font-size: 31px}
    div div div .fs-32, div div .fs-32, div .fs-32, .fs-32 {font-size: 32px}
    div div div .fs-33, div div .fs-33, div .fs-33, .fs-33 {font-size: 33px}
    div div div .fs-34, div div .fs-34, div .fs-34, .fs-34 {font-size: 34px}
    div div div .fs-35, div div .fs-35, div .fs-35, .fs-35 {font-size: 35px}
    div div div .fs-36, div div .fs-36, div .fs-36, .fs-36 {font-size: 36px}
    div div div .fs-38, div div .fs-38, div .fs-38, .fs-38 {font-size: 38px}
    div div div .fs-40, div div .fs-40, div .fs-40, .fs-40 {font-size: 40px}
    div div div .fs-45, div div .fs-45, div .fs-45, .fs-45 {font-size: 45px}
    div div div .fs-50, div div .fs-50, div .fs-50, .fs-50 {font-size: 50px}

    //****************************************** FONT WEIGHT ******************************************/
    div.fw-300, div input.fw-300, input.fw-300, .fw-300              {font-weight: 300}
    div.fw-400, div input.fw-400, input.fw-400, .fw-400              {font-weight: 400}
    div.fw-500, div input.fw-500, input.fw-500, .fw-500              {font-weight: 500}
    div.fw-600, div input.fw-600, input.fw-600, .fw-600              {font-weight: 600}
    div.fw-700, div input.fw-700, input.fw-700, .fw-700              {font-weight: 700}

    div.fw-normal, div input.fw-normal, input.fw-normal, .fw-normal,
    div.no-bold, div input.no-bold, input.no-bold, .no-bold          {font-weight: normal}

    div.fw-bold, div input.fw-bold, input.fw-bold, .fw-bold,
    div.bold, div input.bold, input.bold, .bold                      {font-weight: bold}

    //**************************************** FONT DECORATION ****************************************/
    .underline                {text-decoration: underline}
    .no-underline             {text-decoration: none     }
    .no-hover-underline:hover {text-decoration: none     }
    .italic                   {font-style: italic        }
    .italics                  {font-style: italic        }

    //************************************** FONT CAPITALIZATION **************************************/
    .uppercase  {text-transform: uppercase }
    .lowercase  {text-transform: lowercase }
    .capitalize {text-transform: capitalize}

    // REVERSE TEXT
    .reverse-text, .text-reverse, .text-flipx, .flipx-text {
        direction: rtl;
        unicode-bidi: bidi-override;
        text-align: left;
    }

    //****************************************** LINE HEGHT *******************************************/
    .lh-5   {line-height: 5px  }
    .lh-6   {line-height: 6px  }
    .lh-7   {line-height: 7px  }
    .lh-8   {line-height: 8px  }
    .lh-9   {line-height: 9px  }
    .lh-10  {line-height: 10px }
    .lh-11  {line-height: 11px }
    .lh-12  {line-height: 12px }
    .lh-13  {line-height: 13px }
    .lh-14  {line-height: 14px }
    .lh-15  {line-height: 15px }
    .lh-16  {line-height: 16px }
    .lh-17  {line-height: 17px }
    .lh-18  {line-height: 18px }
    .lh-19  {line-height: 19px }
    .lh-20  {line-height: 20px }
    .lh-21  {line-height: 21px }
    .lh-22  {line-height: 22px }
    .lh-23  {line-height: 23px }
    .lh-24  {line-height: 24px }
    .lh-25  {line-height: 25px }
    .lh-30  {line-height: 30px }
    .lh-35  {line-height: 35px }
    .lh-36  {line-height: 36px }
    .lh-40  {line-height: 40px }
    .lh-45  {line-height: 45px }
    .lh-50  {line-height: 50px }
    .lh-75  {line-height: 75px }
    .lh-100 {line-height: 100px}

    /**************************************** LETTER-SPACING *****************************************/
    .ls-normal {letter-spacing: normal}
    .ls-n3     {letter-spacing: -3px  }
    .ls-n2.5   {letter-spacing: -2.5px}
    .ls-n2     {letter-spacing: -2px  }
    .ls-n1.5   {letter-spacing: -1.5px}
    .ls-n1     {letter-spacing: -1px  }
    .ls-n0pt75, .ls-n0p75 {letter-spacing: -0.75px}
    .ls-n0pt5,  .ls-n0p5  {letter-spacing: -0.5px }
    .ls-n0pt45, .ls-n0p45 {letter-spacing: -0.45px}
    .ls-n0pt4,  .ls-n0p4  {letter-spacing: -0.4px }
    .ls-n0pt35, .ls-n0p35 {letter-spacing: -0.35px}
    .ls-n0pt3,  .ls-n0p3  {letter-spacing: -0.3px }
    .ls-n0pt25, .ls-n0p25 {letter-spacing: -0.25px}
    .ls-n0pt2,  .ls-n0p2  {letter-spacing: -0.2px }
    .ls-n0pt15, .ls-n0p15 {letter-spacing: -0.15px}
    .ls-n0pt1,  .ls-n0p1  {letter-spacing: -0.1px }
    .ls-n0pt05, .ls-n0p05 {letter-spacing: -0.05px}

    .ls-0 {letter-spacing: 0px}

    .ls-0pt05, .ls-0p05 {letter-spacing: 0.05px}
    .ls-0pt1,  .ls-0p1  {letter-spacing: 0.1px }
    .ls-0pt15, .ls-0p15 {letter-spacing: 0.15px}
    .ls-0pt2,  .ls-0p2  {letter-spacing: 0.2px }
    .ls-0pt25, .ls-0p25 {letter-spacing: 0.25px}
    .ls-0pt3,  .ls-0p3  {letter-spacing: 0.3px }
    .ls-0pt35, .ls-0p35 {letter-spacing: 0.35px}
    .ls-0pt4,  .ls-0p4  {letter-spacing: 0.4px }
    .ls-0pt45, .ls-0p45 {letter-spacing: 0.45px}
    .ls-0pt5,  .ls-0p5  {letter-spacing: 0.5px }
    .ls-0pt75, .ls-0p75 {letter-spacing: 0.75px}
    .ls-1               {letter-spacing: 1px   }
    .ls-1p5, .ls-1pt5   {letter-spacing: 1.5px }
    .ls-2               {letter-spacing: 2px   }
    .ls-2p5, .ls-2pt5   {letter-spacing: 2.5px }
    .ls-3               {letter-spacing: 3px   }

    /****************************************** FONT FAMILY ******************************************/
    .better-helvetica,
    div .better-helvetica,
    div div .better-helvetica {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
            Arial, "Lucida Grande", sans-serif;
    }

    .helvetica-neue-medium,
    div .helvetica-neue-medium,
    div div .helvetica-neue-medium {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica,
            Arial, "Lucida Grande", sans-serif;
    }

    .helvetica-neue,
    div .helvetica-neue,
    div div .helvetica-neue {
        font-family: "Helvetica Neue", sans-serif;
    }

    .helvetica-neue-serif,
    div .helvetica-neue-serif,
    div div .helvetica-neue-serif {
        font-family: "Helvetica Neue";
    }

    .helvetica-neue-light,
    div .helvetica-neue-light,
    div div .helvetica-neue-light {
        font-family: "Helvetica Neue Light", sans-serif;
    }

    .helvetica-neue-light-serif,
    div .helvetica-neue-light-serif,
    div div .helvetica-neue-light-serif {
        font-family: "Helvetica Neue Light";
    }

    /******************************************** SHADOW *********************************************/
    .ts-none {text-shadow: none}

    /******************************************* ALIGNMENT *******************************************/
    div input.ta-left, input.ta-left, div.ta-left, .ta-left         {text-align: left  }
    div input.ta-left, input.ta-left, div.ta-left, .ta-left         {text-align: left  }
    div input.ta-center, input.ta-center, div.ta-center, .ta-center {text-align: center}
    div input.ta-right, input.ta-right, div.ta-right, .ta-right     {text-align: right }

    /* Utilities */
    .ellipsize {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .wk-smoothen-text {
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
    }

    /***************************************** WORD WRAPPING ******************************************/
    .whitespace-no-wrap, .whitespace-nowrap, .whitespace-nw, .ws-no-wrap, .ws-nowrap, .ws-nw {white-space: nowrap}
    .whitespace-normal, .whitespace-norm, .whitespace-nw, .ws-normal, .ws-norm, .ws-n {white-space: normal}
    .whitespace-pre, .ws-pre {white-space: pre}
    .whitespace-pre-line, .whitespace-preline, .whitespace-pl .ws-pre-line, .ws-preline, .ws-pl {white-space: pre-line}
    .whitespace-pre-wrap, .whitespace-prewrap, .whitespace-pw .ws-pre-wrap, .ws-prewrap, .ws-pw {white-space: pre-wrap}
    .whitespace-unset, .whitespace-us, .ws-unset, .ws-us {white-space: unset}

}
