:global {
    //****************************************** TEXT-INDENT ******************************************/
    .ti-1   { text-indent: 1px   }
    .ti-2   { text-indent: 2px   }
    .ti-4   { text-indent: 4px   }
    .ti-5   { text-indent: 5px   }
    .ti-8   { text-indent: 8px   }
    .ti-10  { text-indent: 10px  }
    .ti-15  { text-indent: 15px  }
    .ti-20  { text-indent: 20px  }
    .ti-25  { text-indent: 25px  }
    .ti-30  { text-indent: 30px  }
    .ti-40  { text-indent: 40px  }
    .ti-50  { text-indent: 50px  }
    .ti-75  { text-indent: 75px  }
    .ti-100 { text-indent: 100px }

    /********************************************* TEXT **********************************************/
    .fs-10 { font-size: 10px }
    .fs-11 { font-size: 11px }
    .fs-12 { font-size: 12px }
    .fs-13 { font-size: 13px }
    .fs-14 { font-size: 14px }
    .fs-15 { font-size: 15px }
    .fs-16 { font-size: 16px }
    .fs-17 { font-size: 17px }
    .fs-18 { font-size: 18px }
    .fs-19 { font-size: 19px }
    .fs-20 { font-size: 20px }
    .fs-21 { font-size: 21px }
    .fs-22 { font-size: 22px }
    .fs-23 { font-size: 23px }
    .fs-24 { font-size: 24px }
    .fs-25 { font-size: 25px }
    .fs-26 { font-size: 26px }
    .fs-27 { font-size: 27px }
    .fs-28 { font-size: 28px }
    .fs-29 { font-size: 29px }
    .fs-30 { font-size: 30px }
    .fs-31 { font-size: 31px }
    .fs-32 { font-size: 32px }
    .fs-33 { font-size: 33px }
    .fs-34 { font-size: 34px }
    .fs-35 { font-size: 35px }
    .fs-36 { font-size: 36px }
    .fs-38 { font-size: 38px }
    .fs-40 { font-size: 40px }
    .fs-45 { font-size: 45px }
    .fs-50 { font-size: 50px }

    //****************************************** FONT WEIGHT ******************************************/
    div.fw-300, div input.fw-300, input.fw-300, .fw-300             { font-weight: 300    }
    div.fw-500, div input.fw-500, input.fw-500, .fw-500             { font-weight: 500    }
    div.fw-normal, div input.fw-normal, input.fw-normal, .fw-normal { font-weight: normal }
    div.no-bold, div input.no-bold, input.no-bold, .no-bold         { font-weight: normal }
    div.fw-bold, div input.fw-bold, input.fw-bold, .fw-bold         { font-weight: bold   }
    div.bold, div input.bold, input.bold, .bold                     { font-weight: bold   }

    //**************************************** FONT DECORATION ****************************************/
    .underline                { text-decoration: underline }
    .no-underline             { text-decoration: none      }
    .no-hover-underline:hover { text-decoration: none      }
    .italic                   { font-style: italic         }
    .italics                  { font-style: italic         }

    //************************************** FONT CAPITALIZATION **************************************/
    .uppercase  { text-transform: uppercase  }
    .lowercase  { text-transform: lowercase  }
    .capitalize { text-transform: capitalize }

    // REVERSE TEXT
    .reverse-text, .text-reverse, .text-flipx, .flipx-text {
        direction: rtl;
        unicode-bidi: bidi-override;
        text-align: left;
    }

    //****************************************** LINE HEGHT *******************************************/
    .lh-5   { line-height: 5px   }
    .lh-6   { line-height: 6px   }
    .lh-7   { line-height: 7px   }
    .lh-8   { line-height: 8px   }
    .lh-9   { line-height: 9px   }
    .lh-10  { line-height: 10px  }
    .lh-11  { line-height: 11px  }
    .lh-12  { line-height: 12px  }
    .lh-13  { line-height: 13px  }
    .lh-14  { line-height: 14px  }
    .lh-15  { line-height: 15px  }
    .lh-16  { line-height: 16px  }
    .lh-17  { line-height: 17px  }
    .lh-18  { line-height: 18px  }
    .lh-19  { line-height: 19px  }
    .lh-20  { line-height: 20px  }
    .lh-21  { line-height: 21px  }
    .lh-22  { line-height: 22px  }
    .lh-23  { line-height: 23px  }
    .lh-24  { line-height: 24px  }
    .lh-25  { line-height: 25px  }
    .lh-30  { line-height: 30px  }
    .lh-35  { line-height: 35px  }
    .lh-36  { line-height: 36px  }
    .lh-40  { line-height: 40px  }
    .lh-45  { line-height: 45px  }
    .lh-50  { line-height: 50px  }
    .lh-75  { line-height: 75px  }
    .lh-100 { line-height: 100px }

    /**************************************** LETTER-SPACING *****************************************/
    .ls-normal { letter-spacing: normal  }
    .ls-n3     { letter-spacing: -3px    }
    .ls-n2.5   { letter-spacing: -2.5px  }
    .ls-n2     { letter-spacing: -2px    }
    .ls-n1.5   { letter-spacing: -1.5px  }
    .ls-n1     { letter-spacing: -1px    }
    .ls-n0p75  { letter-spacing: -0.75px }
    .ls-n0p5   { letter-spacing: -0.5px  }
    .ls-n0p45  { letter-spacing: -0.45px }
    .ls-n0p4   { letter-spacing: -0.4px  }
    .ls-n0p35  { letter-spacing: -0.35px }
    .ls-n0p3   { letter-spacing: -0.3px  }
    .ls-n0p25  { letter-spacing: -0.25px }
    .ls-n0p2   { letter-spacing: -0.2px  }
    .ls-n0p15  { letter-spacing: -0.15px }
    .ls-n0p1   { letter-spacing: -0.1px  }
    .ls-n0p05  { letter-spacing: -0.05px }
    .ls-0      { letter-spacing: 0px     }
    .ls-0p05   { letter-spacing: 0.05px  }
    .ls-0p1    { letter-spacing: 0.1px   }
    .ls-0p15   { letter-spacing: 0.15px  }
    .ls-0p2    { letter-spacing: 0.2px   }
    .ls-0p25   { letter-spacing: 0.25px  }
    .ls-0p3    { letter-spacing: 0.3px   }
    .ls-0p35   { letter-spacing: 0.35px  }
    .ls-0p4    { letter-spacing: 0.4px   }
    .ls-0p45   { letter-spacing: 0.45px  }
    .ls-0p5    { letter-spacing: 0.5px   }
    .ls-0p75   { letter-spacing: 0.75px  }
    .ls-1      { letter-spacing: 1px     }
    .ls-1.5    { letter-spacing: 1.5px   }
    .ls-2      { letter-spacing: 2px     }
    .ls-2.5    { letter-spacing: 2.5px   }
    .ls-3      { letter-spacing: 3px     }

    /****************************************** FONT FAMILY ******************************************/
    .ff-better-helvetica {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                     Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    .better-helvetica {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
                     Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    .ff-helvetica-neue             { font-family: "Helvetica Neue", sans-serif       }
    .ff-helvetica-neue-serif       { font-family: "Helvetica Neue"                   }
    .helvetica-neue                { font-family: "Helvetica Neue", sans-serif       }
    .helvetica-neue-serif          { font-family: "Helvetica Neue"                   }

    .ff-HelveticaNeue              { font-family: HelveticaNeue, sans-serif          }
    .ff-HelveticaNeue-serif        { font-family: HelveticaNeue                      }
    .HelveticaNeue                 { font-family: HelveticaNeue, sans-serif          }
    .HelveticaNeue-serif           { font-family: HelveticaNeue                      }

    .ff-helvetica-neue-light       { font-family: "Helvetica Neue Light", sans-serif }
    .ff-helvetica-neue-light-serif { font-family: "Helvetica Neue Light"             }
    .helvetica-neue-light          { font-family: "Helvetica Neue Light", sans-serif }
    .helvetica-neue-light-serif    { font-family: "Helvetica Neue Light"             }

    /******************************************** SHADOW *********************************************/
    .ts-none { text-shadow: none }

    /******************************************* ALIGNMENT *******************************************/
    div input.ta-left, input.ta-left, div.ta-left, .ta-left   { text-align: left   }
    div input.ta-left, input.ta-left, div.ta-left, .ta-left   { text-align: left   }
    div input.ta-center, input.ta-center, div.ta-center, .ta-center { text-align: center }
    div input.ta-right, input.ta-right, div.ta-right, .ta-right  { text-align: right  }

    /* Utilities */
    .ellipsize {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .wk-smoothen-text {
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
    }
}
