@import './colors/colors.scss';
@import './colors/color-styles.scss';

@import './layout/border.scss';
@import './layout/float.scss';
@import './layout/layout.scss';
@import './layout/margin.scss';
@import './layout/overflow.scss';
@import './layout/padding.scss';
@import './layout/position.scss';
@import './layout/size.scss';

@import './layering/opacity.scss';
@import './layering/visibility.scss';
@import './layering/z-index.scss';

@import './cursor.scss';
@import './mixins.scss';
@import './text.scss';

/**
 * ****************************************** REFERENCE ******************************************
 *
 * TODO Update util-styles reference (mad-utils) - in README
 *
 * ************** GENERAL RULES/PATTERNS ***************
 * Any number preceded by n (.classname-n#) indicates a negative value. e.g.:
 *     .mt-n24 { margin-top: -24px }
 *         vs.
 *     .mt-24 { margin-top: 24px }
 *
 * Any number followed by p (classname-#p) indicates percentage e.g.:
 *     .br-10p { border-radius: 10% }
 *
 * Any style with suffix -nl (classname-#-nl) indicates exclusion of last item in the set e.g.:
 *     .bw-4-nl:not(:last-child) { border-width: 4px }
 *     -   applies a 4px wide border to all items in a set but the last
 *
 * ****************************************************
 * ********************** LAYOUT **********************
 *
 * ****** MARGIN ******
 * m:  margin - all
 * mt: margin-top
 * mb: margin-bottom
 * mr: margin-right
 * ml: margin-left
 *
 * dmt-$1--smt-$2
 *     $1: margin-top above 460 height
 *     $2: margin-top below 460 height
 * dmb-$1--smb-$2
 *     $1: margin-bottom above 460 height
 *     $2: margin-bottom below 460 height
 *
 * ****** PADDING ******
 * p:  padding - all
 * pt: padding-top
 * pb: padding-bottom
 * pr: padding-right
 * pl: padding-left
 *
 * p-inherit: padding-inherit
 *
 * ****** BORDER ******
 * bw:  border-width
 * bbw: border-bottom-width
 * btw: border-top-width
 * blw: border-left-width
 * brw: border-right-width
 *
 * bs:  border-style
 * bbs: border-bottom-style
 * bts: border-top-style
 * bls: border-left-style
 * brs: border-right-style
 *
 * br:    border-radius
 * br-#p: border-radius by percentage
 *
 * bc:  border-color
 * bbc: border-bottom-color
 * btc: border-top-color
 * blc: border-left-color
 * brc: border-right-color
 *
 * ## Misc ##
 * b-hidden:        Hidden border
 * box-shadow-none: Eliminate box shadow
 * bl-5:            Solid left border w/ width 5
 *
 * ****** SIZE ******
 * w:    width
 * h:    height
 * mw:   max-width
 * mh:   max-height
 * minw: min-width
 * minh: min-height
 *
 * note: sizes that end in p (as in w-100p) use a percentage rather than pixels
 *
 * ****** POSITION ******
 * pos: position  ||  Available: pos-relative, pos-absolute, pos-static, pos-fixed
 *
 * numeric relative positions (examples):
 *     zero         positive       negative
 *     ----         --------       --------
 *     top-0        top-1          top-n1
 *     bottom-0     bottom-1       bottom-n1
 *     right-0      right-1        right-n1
 *     left-0       left-1         left-n1
 *
 * *********** FLEX **********
 * Flexbox container:
 *     - flex
 * Inline flexbox container:
 *     - inline-flex
 * Flexbox container, in row direction:
 *     - flex row
 * Flexbox container, in col direction:
 *     - flex col
 * Flexbox container, justified content:
 *     - flex start               - flex center              - flex end
 *     - flex space-around        - flex space-between
 * Flexbox align-items:
 *     - flex ai-start            - flex ai-center           - flex ai-end
 *     - flex align-items-start   - flex align-items-start   - (etc...)
 * Flexbox align-self:
 *     - align-self-start         - align-self-center        - align-self-end
 *     - align-self-stretch
 *
 * ********** VERTICAL ALIGN **********
 * - va-middle      - va-bottom         - va-top
 *
 * *****************************************************
 * ********************* TEXT **************************
 * fs:         font-size
 * fw:         font-weight
 * ff:         font-family
 * ts:         text-shadow
 *
 * ls:         letter-spacing
 * lh:         line-height
 * ta:         text-align
 * ti:         text-indent
 * ws:         whitespace
 * whitespace: whitespace
 *
 * Misc text:
 *     uppercase, lowercase, capitalize
 *     bold, no-bold, fw-300, fw-400, fw-400
 *     underline, no-underline
 *
 * *****************************************************
 * ********************** COLORS ***********************
 * bg:     background colour
 * bgfill: background colour - clobber all other background definitions
 *
 * Colour styles - examples (each has the following 5 categories, 3 examples given):
 * -   white,           light-gray,           black
 * -   bg-white,        bg-light-gray,        bg-black
 * -   bg-white-hover,  bg-light-gray-hover,  bg-black-hover
 * -   bg-white-active, bg-light-gray-active, bg-black-active
 * -   border-white,    border-light-active,  border-black
 *
 * Colour list
 * -   transparent
 *
 * -   white
 * -   faintest-gray, fainter-gray, faint-gray, lightest-gray, lighter-gray,
 *     lighterish-gray, lightened-gray, light-gray, nearer-light-gray,
 *     near-light-gray, mid-light-gray, dim-gray, upper-light-gray, light-mid-gray,
 *     gray, mid-dark-gray, dark-gray, darker-gray, ultra-dark-gray
 * -   black
 *
 * -   dark-pink, red, mid-red, mid-dark-red, dark-red
 * -   orange, slight-dark-orange
 * -   yellow
 *
 * -   forest-green, pale-green, bright-green, mid-green, mid-dark-green, dark-green
 * -   cyan, dark-cyan
 *
 * -   faintest-blue, fainter-blue, faint-blue,
 *     palest-blue, paler-blue, pale-blue,
 *     lighter-sky-blue, light-sky-blue, sky-blue, dark-sky-blue,
 *     blue,
 *     palest-dark-blue, paler-dark-blue, pale-dark-blue,
 *     mid-dark-blue, mid-near-dark-blue, dark-blue
 *
 * -   light-purple, mid-purple, dark-purple
 *
 * Colour variables are in ./scss/colors/colors.scss
 * Colour styles based on the colour vars are in ./scss/colors/color-styles.scss
 * All are exported in the util-styles.scss file.
 *
 *
 *******************************************************
 ************************ CURSOR ***********************
 * All are set to show up in hover and active states.
 *     cur-none
 *     cur-default
 *     cur-pointer, pointer
 *     cur-move
 *     cur-col-resize
 *     cur-row-resize
 *     cur-help
 *
 *******************************************************
 ************************ OPACITY **********************
 * opa: opacity
 * Can have values from 0 (0.0) to 100 (1.0). e.g.:
 *     - opa-0        - opa-1        - opa-2        - opa-3        - opa-4
 *     - opa-5        - opa-6        - opa-10       - opa-15       - opa-20
 *     - opa-25       - opa-30       - opa-35       - opa-45       - opa-46
 *     - opa-47       - opa-50       - opa-55       - opa-70       - opa-75
 *     - opa-80       - opa-90       - opa-91       - opa-95       - opa-99
 *     - opa-100
 *
 * ****** MISC ******
 * float, f:   float. float-right, float-left
 * states:     state collection. Complimentary hover & active
 * va:         vertical-align. va-middle, va-bottom, va-top
 * vis:        visibility. e.g. vis-hidden. Also .hidden, .visible, .collapse
 * z, zi:      z-index. e.g. z-n100, zi-1000, z-0, zi-1, z-5
 * ovx, ovy:   overflow. e.g. ovx-auto, ovy-hidden, ovx-visible, ovy-overlay, ovx-scroll
 *
 * overflow-word-break: Break a word to wrap.
 */

:global {
    /******************************************* HOVERS *******************************************/
    .states-lightergray-bg:hover {background-color: $lighterGray}
    .states-lightergray-bg:active {background-color: $lightGray}

    .states-standard:hover {
        cursor: pointer;
        background-color: $lighterGray;
        text-decoration: none;
    }
    .states-standard:active {
        cursor: pointer;
        background-color: $lightGray;
        text-decoration: none;
    }

    .states-faintblue-bg:hover {background-color: $fainterBlue}
    .states-faintblue-bg:active {background-color: $palestBlue}

    .haf-no-underline:focus,
    .haf-no-underline:active,
    .haf-no-underline:hover {
        text-decoration: none
    }

    .haf-gray-tiny:hover {
        color: gray;
        text-shadow: 0.1px 0.1px 0.1px $lightestGray;
    }

    /************************************** BACKGROUND-IMAGE **************************************/
    * * *.bg-img-none, {background-image: none}
}
