@import './colors/colors.scss';
@import './colors/color-styles.scss';

@import './layout/border.scss';
@import './layout/float.scss';
@import './layout/layout.scss';
@import './layout/margin.scss';
@import './layout/overflow.scss';
@import './layout/padding.scss';
@import './layout/position.scss';
@import './layout/size.scss';

@import './layering/opacity.scss';
@import './layering/visibility.scss';
@import './layering/z-index.scss';

@import './cursor.scss';
@import './mixins.scss';
@import './text.scss';


/**
 * ****************************************** REFERENCE ******************************************
 *
 * TODO Update util-styles reference (mad-utils)
 *
 * ****** GENERAL ******
 * -   Any number preceded by n indicates negative. e.g.
 *         .mt-n24 { margin-top: -24px }
 *             vs.
 *         .mt-24 { margin-top: 24px }
 * -   Any style followed by -nl indicates that the last item in the set is excluded. e.g.
 *         .bw-4-nl:not(:last-child) { border-width: 4px }
 *         -   applies a 4px wide border to all items in a set but the last
 *
 * ****************************************************
 * ********************** LAYOUT **********************
 * 
 * ****** MARGIN ******
 * m: margin - all
 * mt: margin-top
 * mb: margin-bottom
 * mr: margin-right
 * ml: margin-left
 *
 * ****** PADDING ******
 * p:  padding - all
 * pt: padding-top
 * pb: padding-bottom
 * pr: padding-right
 * pl: padding-left
 *
 * ****** BORDER ******
 * bw: border-width
 * bbw: border-bottom-width
 * btw: border-top-width
 * blw: border-left-width
 * brw: border-right-width
 *
 * bs: border-style
 * bbs: border-bottom-style
 * bts: border-top-style
 * bls: border-left-style
 * brs: border-right-style
 *
 * br: border-radius
*
 * ****** SIZE ******
 * w: width
 * h: height
 * mw: max-width
 * mh: max-height
 * minw: min-width
 * minh: min-height
 *
 * note: sizes that end in p (as in w-100p) use a percentage rather than pixels
 *
 * ****** POSITION ******
 * pos: position  ||  Available: pos-relative, pos-absolute, pos-static, pos-fixed
 *
 * numeric relative positions (examples):
 *     zero         positive       negative
 *     ----         --------       --------
 *     top-0        top-1          top-n1
 *     bottom-0     bottom-1       bottom-n1
 *     right-0      right-1        right-n1
 *     left-0       left-1         left-n1
 *
 * *********** FLEX **********
 * Flexbox container:
 *     - flex       - display-flex
 * Inline flexbox container:
 *     - inflex     - inline-flex   - display-inline-flex
 * Flexbox container, in row direction:
 *     - flex row
 * Flexbox container, in col direction:
 *     - flex col
 * Flexbox container, justified content:
 *     - flex start               - flex center              - flex end
 *     - flex space-around        - flex space-between
 * Flexbox align-items:
 *     - flex-ai-start            - flex-ai-center           - flex-ai-end
 *     - flex-alignitems-start    - flex-align-items-start   - (etc...)
 * Flexbox align-self:
 *     - flex-as-start            - flex-as-center            - flex-as-end
 *     - flex-as-stretch
 *     - flex-align-self-start    - flex-alignself-start      - (etc...)
 *
 * ********** VERTICAL ALIGN **********
 * - va-middle      - va-bottom         - va-top
 * 
 * *****************************************************
 * ********************* TEXT **************************
 * fs: font-size
 * fw: font-weight
 * ti: text-indent
 * lh: line-height
 * ta: text-align
 * ff: font-family
 *
 * Misc text:
 *     uppercase, lowercase, capitalize
 *     bold, no-bold, fw-300, fw-400, fw-400
 *     underline, no-underline
 *
 * *****************************************************
 * ********************** COLORS ***********************
 * bg:     background colour
 * bgfill: background colour - clobber all other background definitions
 *
 * Colours available (incomplete):
 *     white, light-gray, mid-gray, dark-gray, black
 *     bg-white, bg-light-gray, bg-mid-gray, bg-dark-gray, bg-black
 *
 * Colour variables are in ./scss/colors/colors.scss
 * Colour styles based on the colour vars are in ./scss/colors/color-styles.scss
 * All are exported in the util-styles.scss file.
 *
 * ****** CURSOR ******
 * All are set to show up in hover and active states.
 *     cur-default
 *     cur-pointer
 *     cur-none
 *     cur-move
 *     cur-col-resize
 *     cur-row-resize
 *     cur-help
 *
 * ****** OPACITY ******
 * opa: opacity
 * Can have values from 0 (0.0) to 100 (1.0). e.g.:
 *     - opa-0        - opa-1        - opa-2        - opa-3        - opa-4
 *     - opa-5        - opa-6        - opa-10       - opa-15       - opa-20
 *     - opa-25       - opa-30       - opa-35       - opa-45       - opa-46
 *     - opa-47       - opa-50       - opa-55       - opa-70       - opa-75
 *     - opa-80       - opa-90       - opa-91       - opa-95       - opa-99
 *     - opa-100
 *
 * ****** MISC ******
 * float, f:  float. f-right, f-left, float-right, float-left.
 * states:    state collection. Complimentary hover & active.
 * va:        vertical-align. va-middle, va-bottom, va-top
 * vis:       visibility. e.g. vis-hidden. Also .hidden, .visible, .collapse.
 * z, zi:     z-index. e.g. z-n100, zi-1000, z-0, zi-1, z-5
 */

:global {
    /******************************************* HOVERS *******************************************/
    .states-lightergray-bg:hover { background-color: $lighterGray }
    .states-lightergray-bg:active { background-color: $lightGray }

    .states-standard:hover {
        cursor: pointer;
        background-color: $lighterGray;
        text-decoration: none;
    }
    .states-standard:active {
        cursor: pointer;
        background-color: $lightGray;
        text-decoration: none;
    }

    .states-faintblue-bg:hover { background-color: $fainterBlue }
    .states-faintblue-bg:active { background-color: $palestBlue }

    .haf-no-underline:focus,
    .haf-no-underline:active,
    .haf-no-underline:hover {
        text-decoration: none
    }

    .haf-gray-tiny:hover {
        color: gray;
        text-shadow: 0.1px 0.1px 0.1px $lightestGray;
    }

    //************************************* BACKGROUND-IMAGE **************************************/
    span.bg-img-none, div.bg-img-none, button.bg-img-none, .bg-img-none { background-image: none }
}
