.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-error.log
logfile
certbot.log
log/

# Runtime data
pids
*.pid
*.seed

# Dependencies
node_modules/


##### LOCAL BACKUP #####
# Backups
.bk

# Redis backups
redis-backup/**.aof
redis-backup/**.rdb


##### BUILD #####
# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Build result
lib/

# Test coverage
.nyc_output/
coverage/
lib-cov/


##### IDEs #####
# Sublime
*.sublime-workspace
*.sublime-project

# VSCode
.vscode
.awcache

# vim swapfile
*.swp

# IDE history storage
.history/**


##### TEMP #####
# Optional npm cache directory
.npm

# Temporary files
temp/
temp/**
!/*/**/*temp*
**/cache/**

# Exclude anything with _OLD suffix
**/doc/**_OLD/**
**/*_OLD/

# Local trash dir for code
**/doc/old_code/**
doc/old_code

# Exclude local notes
doc/local_notes

# REPL history
.node_history
.node_repl_history
