/************************************* COLOURS *************************************/
$transparent: transparent;

/************** HUES **************/
/** WHITE<->GRAY<->BLACK **/
$white: #fff;
$faintestGray: #fbfbfb;
$fainterGray: #f2f2f2;
$faintGray: #eeeeee;
$lightestGray: #e7e7e7;
$lighterGray: #dbdbdb;
$lighterishGray: #c7c7c7;
$lightenedGray: #b9b9b9;
$lightGray: #acacac;
$nearerLightGray: #979797;
$nearLightGray: #919191;
$midLightGray: #777777;
$dimGray: #696969;
$upperLightGray: #666666;
$lightMidGray: #595959;
$gray: #555;
$midDarkGray: #474747;
$darkGray: #333;
$darkerGray: #262626;
$ultraDarkGray: #111;
$black: #000;

/************** REDS **************/
$darkPink: #ec4b5f;

$red: #ff0000;
$midRed: #e93f2e;
$midDarkRed: #df1c31;
$darkRed: #b81621;

/************** YELLOWS **************/
$yellow: #ffff00;

/************** ORANGES **************/
$orange: #ffa500;
$slightDarkOrange: #f6a623;

/************** GREENS **************/
$forestGreen: #00731e;
$paleGreen: #39bf58;
$brightGreen: #12ac37;
$midGreen: #65c76b;
$midDarkGreen: #51a156;
$darkGreen: #38703c;

/************** CYANS **************/
$darkCyan: #26c4f1;
$cyan: #00ffff;

/************** BLUES **************/
$faintestBlue: #f1f7fb;
$fainterBlue: #ecf4fa;
$faintBlue: #e5f0f8;
$palestBlue: #d5e6f4;
$palerBlue: #b9d6ee;
$paleBlue: #8bbbe3;
$lighterSkyBlue: #007bb6; // midLightBlue => lighterSkyBlue
$lightSkyBlue: #03a0ff;
$skyBlue: #4a90e2;        // paleSkyBlue => skyBlue
$darkSkyBlue: #0a88ff;    // skyBlue => darkSkyBlue
$blue: #006eb1;
$palestDarkBlue: #337ab7; // slightlyDarkBlue => palestDarkBlue
$palerDarkBlue: #216ba5;  // NEW: palerDarkBlue
$paleDarkBlue: #1955a5;   // slightDarkBlue => paleDarkBlue
$midDarkBlue: #306199;
$midNearDarkBlue: #0b59a1;
$darkBlue: #32506d;

/************** PURPLES **************/
$lightPurple: #845ac7;
$midPurple: #7646c1;
$darkPurple: #532f8c;
