@import '../colors/colors.scss';

:global {
    /****************************************** BORDER WIDTH ******************************************/
    /********** border-width: all **********/
    .bw-0 {border-width: 0rem}
    .bw-0pt5 {border-width: 0.0625rem}
    .bw-1 {border-width: 0.125rem}
    .bw-2 {border-width: 0.25rem}
    .bw-3 {border-width: 0.5rem}
    .bw-4 {border-width: 0.75rem}
    .bw-4 {border-width: 1rem}
    .bw-5 {border-width: 1.25rem}
    .bw-6 {border-width: 1.5rem}

    /********** Border-width: all but last in list **********/
    .bw-0-nl:not(:last-child) {border-width: 0rem}
    .bw-0pt5-nl:not(:last-child) {border-width: 0.0625rem}
    .bw-l-nl:not(:last-child) {border-width: 0.125rem}
    .bw-2-nl:not(:last-child) {border-width: 0.25rem}
    .bw-3-nl:not(:last-child) {border-width: 0.5rem}
    .bw-4-nl:not(:last-child) {border-width: 0.75rem}
    .bw-4-nl:not(:last-child) {border-width: 1rem}
    .bw-5-nl:not(:last-child) {border-width: 1.25rem}
    .bw-6-nl:not(:last-child) {border-width: 1.5rem}

    /********** Border-bottom-width **********/
    .bbw-0 {border-bottom-width: 0rem}
    .bbw-0pt5 {border-bottom-width: 0.0625rem}
    .bbw-1 {border-bottom-width: 0.125rem}
    .bbw-2 {border-bottom-width: 0.25rem}
    .bbw-3 {border-bottom-width: 0.5rem}
    .bbw-4 {border-bottom-width: 0.75rem}
    .bbw-4 {border-bottom-width: 1rem}
    .bbw-5 {border-bottom-width: 1.25rem}
    .bbw-6 {border-bottom-width: 1.5rem}

    /********** Border-bottom-width: all but last in list **********/
    .bbw-0-nl:not(:last-child) {border-bottom-width: 0rem}
    .bbw-0pt5-nl:not(:last-child) {border-bottom-width: 0.0625rem}
    .bbw-1-nl:not(:last-child) {border-bottom-width: 0.125rem}
    .bbw-2-nl:not(:last-child) {border-bottom-width: 0.25rem}
    .bbw-3-nl:not(:last-child) {border-bottom-width: 0.5rem}
    .bbw-4-nl:not(:last-child) {border-bottom-width: 0.75rem}
    .bbw-4-nl:not(:last-child) {border-bottom-width: 1rem}
    .bbw-5-nl:not(:last-child) {border-bottom-width: 1.25rem}
    .bbw-6-nl:not(:last-child) {border-bottom-width: 1.5rem}

    /********** Border-top-width **********/
    .btw-0 {border-top-width: 0rem}
    .btw-0pt5 {border-top-width: 0.0625rem}
    .btw-1 {border-top-width: 0.125rem}
    .btw-2 {border-top-width: 0.25rem}
    .btw-3 {border-top-width: 0.5rem}
    .btw-4 {border-top-width: 0.75rem}
    .btw-4 {border-top-width: 1rem}
    .btw-5 {border-top-width: 1.25rem}
    .btw-6 {border-top-width: 1.5rem}
    .btw-10 {border-top-width: 10px}

    /********** Border-top-width: all but last in list **********/
    .btw-0-nl:not(:last-child) {border-top-width: 0rem}
    .btw-0pt5-nl:not(:last-child) {border-top-width: 0.0625rem}
    .btw-1-nl:not(:last-child) {border-top-width: 0.125rem}
    .btw-2-nl:not(:last-child) {border-top-width: 0.25rem}
    .btw-3-nl:not(:last-child) {border-top-width: 0.5rem}
    .btw-4-nl:not(:last-child) {border-top-width: 0.75rem}
    .btw-4-nl:not(:last-child) {border-top-width: 1rem}
    .btw-5-nl:not(:last-child) {border-top-width: 1.25rem}
    .btw-6-nl:not(:last-child) {border-top-width: 1.5rem}

    /********** Border-left-width **********/
    .blw-0 {border-left-width: 0rem}
    .blw-0pt5 {border-left-width: 0.0625rem}
    .blw-1 {border-left-width: 0.125rem}
    .blw-2 {border-left-width: 0.25rem}
    .blw-3 {border-left-width: 0.5rem}
    .blw-4 {border-left-width: 0.75rem}
    .blw-4 {border-left-width: 1rem}
    .blw-5 {border-left-width: 1.25rem}
    .blw-6 {border-left-width: 1.5rem}

    /********** Border-left-width: all but last in list **********/
    .blw-0-nl:not(:last-child) {border-left-width: 0rem}
    .blw-0pt5-nl:not(:last-child) {border-left-width: 0.0625rem}
    .blw-1-nl:not(:last-child) {border-left-width: 0.125rem}
    .blw-2-nl:not(:last-child) {border-left-width: 0.25rem}
    .blw-3-nl:not(:last-child) {border-left-width: 0.5rem}
    .blw-4-nl:not(:last-child) {border-left-width: 0.75rem}
    .blw-4-nl:not(:last-child) {border-left-width: 1rem}
    .blw-5-nl:not(:last-child) {border-left-width: 1.25rem}
    .blw-6-nl:not(:last-child) {border-left-width: 1.5rem}

    /********** Border-right-width **********/
    .brw-0 {border-right-width: 0rem}
    .brw-0pt5 {border-right-width: 0.0625rem}
    .brw-1 {border-right-width: 0.125rem}
    .brw-2 {border-right-width: 0.25rem}
    .brw-3 {border-right-width: 0.5rem}
    .brw-4 {border-right-width: 0.75rem}
    .brw-4 {border-right-width: 1rem}
    .brw-5 {border-right-width: 1.25rem}
    .brw-6 {border-right-width: 1.5rem}

    /********** Border-right-width: all but last in list **********/
    .brw-0-nl:not(:last-child) {border-right-width: 0rem}
    .brw-0pt5-nl:not(:last-child) {border-right-width: 0.0625rem}
    .brw-1-nl:not(:last-child) {border-right-width: 0.125rem}
    .brw-2-nl:not(:last-child) {border-right-width: 0.25rem}
    .brw-3-nl:not(:last-child) {border-right-width: 0.5rem}
    .brw-4-nl:not(:last-child) {border-right-width: 0.75rem}
    .brw-4-nl:not(:last-child) {border-right-width: 1rem}
    .brw-5-nl:not(:last-child) {border-right-width: 1.25rem}
    .brw-6-nl:not(:last-child) {border-right-width: 1.5rem}

    /********* BORDER RADIUS *********/
    // border-radius by px
    .br-0 {border-radius: 0px}
    .br-1 {border-radius: 1px}
    .br-2 {border-radius: 2px}
    .br-3 {border-radius: 3px}
    .br-4 {border-radius: 4px}
    .br-5 {border-radius: 5px}
    .br-6 {border-radius: 6px}
    .br-7 {border-radius: 7px}
    .br-8 {border-radius: 8px}
    .br-9 {border-radius: 9px}
    .br-10 {border-radius: 10px}
    .br-11 {border-radius: 11px}
    .br-12 {border-radius: 12px}
    .br-13 {border-radius: 13px}
    .br-14 {border-radius: 14px}
    .br-15 {border-radius: 15px}
    .br-16 {border-radius: 16px}
    .br-17 {border-radius: 17px}
    .br-18 {border-radius: 18px}
    .br-19 {border-radius: 19px}
    .br-20 {border-radius: 20px}
    .br-22 {border-radius: 22px}
    .br-23 {border-radius: 23px}
    .br-25 {border-radius: 25px}
    .br-27 {border-radius: 27px}
    .br-28 {border-radius: 28px}
    .br-30 {border-radius: 30px}
    .br-32 {border-radius: 32px}
    .br-33 {border-radius: 33px}
    .br-35 {border-radius: 35px}
    .br-37 {border-radius: 37px}
    .br-38 {border-radius: 38px}
    .br-40 {border-radius: 40px}
    .br-45 {border-radius: 45px}
    .br-50 {border-radius: 50px}
    .br-55 {border-radius: 55px}
    .br-60 {border-radius: 60px}
    .br-65 {border-radius: 65px}
    .br-70 {border-radius: 70px}
    .br-75 {border-radius: 75px}
    .br-80 {border-radius: 80px}
    .br-85 {border-radius: 85px}
    .br-90 {border-radius: 90px}
    .br-95 {border-radius: 95px}
    .br-100 {border-radius: 100px}

    // border-radius by %
    .br-0p   {border-radius: 0%  }
    .br-10p  {border-radius: 10% }
    .br-25p  {border-radius: 25% }
    .br-50p  {border-radius: 50% }
    .br-75p  {border-radius: 75% }
    .br-90p  {border-radius: 90% }
    .br-100p {border-radius: 100%}

    /****************************************** BORDER STYLE ******************************************/
    /*********** BORDER STYLE - ALL ***********/
    .bs-none,   .border-none   {border-style: none}
    .bs-hidden, .border-hidden {border-style: hidden}
    .bs-solid,  .border-solid  {border-style: solid}

    /* Border left extras */
    .bl-5 {
        border-left-width: 5px;
        border-left-style: solid;
    }

    .b-hidden {
        border-width: 0px;
        border-style: hidden;
        border-color: transparent;
        box-shadow: 0 0 0 transparent;
    }

    /****************************************** BORDER COLOR ******************************************/
    /** BORDER COLOR -- ALL SIDES */
    .bc-black {border-color: black}
    .bc-faintest-gray {border-color: $faintestGray}
    .bc-fainter-gray {border-color: $fainterGray}
    .bc-faint-gray {border-color: $faintGray}
    .bc-lightest-gray {border-color: $lightestGray}
    .bc-lighter-gray {border-color: $lighterGray}
    .bc-lighterish-gray {border-color: $lighterishGray}
    .bc-light-gray {border-color: $lightGray}
    .bc-dim-gray {border-color: $dimGray}
    .bc-upper-light-gray {border-color: $upperLightGray}
    .bc-light-mid-gray {border-color: $lightMidGray}
    .bc-gray {border-color: $gray}
    .bc-faint-gray {border-color: $faintGray}
    .bc-light-gray {border-color: $lightGray}
    .bc-white {border-color: $white}
    .bc-red {border-color: $red}
    .bc-mid-purple {border-color: $midPurple}
    .bc-mid-green {border-color: $midGreen}
    .bc-yellow {border-color: $yellow}
    .bc-cyan {border-color: $cyan}
    .bc-faintest-blue {border-color: $faintestBlue}
    .bc-blue {border-color: $blue}
    .bc-mid-near-dark-blue {border-color: $midNearDarkBlue}
    .bc-dark-blue {border-color: $darkBlue}
    .bc-dark-purple {border-color: $darkPurple}
    .bc-mid-purple {border-color: $midPurple}
    .bc-light-purple {border-color: $lightPurple}

    /***************************************** BOX SHADOW *****************************************/
    .box-shadow-none {box-shadow: none}
}
