@import '../../variables/variables.scss';

:global {
    /****************************************** BORDER WIDTH ******************************************/
    /********** border-width: all **********/
    .bw-0 { border-width: 0rem }
    .bw-0pt5 { border-width: 0.0625rem }
    .bw-1 { border-width: 0.125rem }
    .bw-2 { border-width: 0.25rem }
    .bw-3 { border-width: 0.5rem }
    .bw-4 { border-width: 0.75rem }
    .bw-4 { border-width: 1rem }
    .bw-5 { border-width: 1.25rem }
    .bw-6 { border-width: 1.5rem }

    /********** Border-width: all but last in list **********/
    .bw-0-nl:not(:last-child) { border-width: 0rem }
    .bw-0pt5-nl:not(:last-child) { border-width: 0.0625rem }
    .bw-l-nl:not(:last-child) { border-width: 0.125rem }
    .bw-2-nl:not(:last-child) { border-width: 0.25rem }
    .bw-3-nl:not(:last-child) { border-width: 0.5rem }
    .bw-4-nl:not(:last-child) { border-width: 0.75rem }
    .bw-4-nl:not(:last-child) { border-width: 1rem }
    .bw-5-nl:not(:last-child) { border-width: 1.25rem }
    .bw-6-nl:not(:last-child) { border-width: 1.5rem }

    /********** Border-bottom-width **********/
    .bbw-0 { border-bottom-width: 0rem }
    .bbw-0pt5 { border-bottom-width: 0.0625rem }
    .bbw-1 { border-bottom-width: 0.125rem }
    .bbw-2 { border-bottom-width: 0.25rem }
    .bbw-3 { border-bottom-width: 0.5rem }
    .bbw-4 { border-bottom-width: 0.75rem }
    .bbw-4 { border-bottom-width: 1rem }
    .bbw-5 { border-bottom-width: 1.25rem }
    .bbw-6 { border-bottom-width: 1.5rem }

    /********** Border-bottom-width: all but last in list **********/
    .bbw-0-nl:not(:last-child) { border-bottom-width: 0rem }
    .bbw-0pt5-nl:not(:last-child) { border-bottom-width: 0.0625rem }
    .bbw-1-nl:not(:last-child) { border-bottom-width: 0.125rem }
    .bbw-2-nl:not(:last-child) { border-bottom-width: 0.25rem }
    .bbw-3-nl:not(:last-child) { border-bottom-width: 0.5rem }
    .bbw-4-nl:not(:last-child) { border-bottom-width: 0.75rem }
    .bbw-4-nl:not(:last-child) { border-bottom-width: 1rem }
    .bbw-5-nl:not(:last-child) { border-bottom-width: 1.25rem }
    .bbw-6-nl:not(:last-child) { border-bottom-width: 1.5rem }

    /********** Border-top-width **********/
    .btw-0 { border-top-width: 0rem }
    .btw-0pt5 { border-top-width: 0.0625rem }
    .btw-1 { border-top-width: 0.125rem }
    .btw-2 { border-top-width: 0.25rem }
    .btw-3 { border-top-width: 0.5rem }
    .btw-4 { border-top-width: 0.75rem }
    .btw-4 { border-top-width: 1rem }
    .btw-5 { border-top-width: 1.25rem }
    .btw-6 { border-top-width: 1.5rem }
    .btw-10 { border-top-width: 10px }

    /********** Border-top-width: all but last in list **********/
    .btw-0-nl:not(:last-child) { border-top-width: 0rem }
    .btw-0pt5-nl:not(:last-child) { border-top-width: 0.0625rem }
    .btw-1-nl:not(:last-child) { border-top-width: 0.125rem }
    .btw-2-nl:not(:last-child) { border-top-width: 0.25rem }
    .btw-3-nl:not(:last-child) { border-top-width: 0.5rem }
    .btw-4-nl:not(:last-child) { border-top-width: 0.75rem }
    .btw-4-nl:not(:last-child) { border-top-width: 1rem }
    .btw-5-nl:not(:last-child) { border-top-width: 1.25rem }
    .btw-6-nl:not(:last-child) { border-top-width: 1.5rem }

    /********** Border-left-width **********/
    .blw-0 { border-left-width: 0rem }
    .blw-0pt5 { border-left-width: 0.0625rem }
    .blw-1 { border-left-width: 0.125rem }
    .blw-2 { border-left-width: 0.25rem }
    .blw-3 { border-left-width: 0.5rem }
    .blw-4 { border-left-width: 0.75rem }
    .blw-4 { border-left-width: 1rem }
    .blw-5 { border-left-width: 1.25rem }
    .blw-6 { border-left-width: 1.5rem }

    /********** Border-left-width: all but last in list **********/
    .blw-0-nl:not(:last-child) { border-left-width: 0rem }
    .blw-0pt5-nl:not(:last-child) { border-left-width: 0.0625rem }
    .blw-1-nl:not(:last-child) { border-left-width: 0.125rem }
    .blw-2-nl:not(:last-child) { border-left-width: 0.25rem }
    .blw-3-nl:not(:last-child) { border-left-width: 0.5rem }
    .blw-4-nl:not(:last-child) { border-left-width: 0.75rem }
    .blw-4-nl:not(:last-child) { border-left-width: 1rem }
    .blw-5-nl:not(:last-child) { border-left-width: 1.25rem }
    .blw-6-nl:not(:last-child) { border-left-width: 1.5rem }

    /********** Border-right-width **********/
    .brw-0 { border-right-width: 0rem }
    .brw-0pt5 { border-right-width: 0.0625rem }
    .brw-1 { border-right-width: 0.125rem }
    .brw-2 { border-right-width: 0.25rem }
    .brw-3 { border-right-width: 0.5rem }
    .brw-4 { border-right-width: 0.75rem }
    .brw-4 { border-right-width: 1rem }
    .brw-5 { border-right-width: 1.25rem }
    .brw-6 { border-right-width: 1.5rem }

    /********** Border-right-width: all but last in list **********/
    .brw-0-nl:not(:last-child) { border-right-width: 0rem }
    .brw-0pt5-nl:not(:last-child) { border-right-width: 0.0625rem }
    .brw-1-nl:not(:last-child) { border-right-width: 0.125rem }
    .brw-2-nl:not(:last-child) { border-right-width: 0.25rem }
    .brw-3-nl:not(:last-child) { border-right-width: 0.5rem }
    .brw-4-nl:not(:last-child) { border-right-width: 0.75rem }
    .brw-4-nl:not(:last-child) { border-right-width: 1rem }
    .brw-5-nl:not(:last-child) { border-right-width: 1.25rem }
    .brw-6-nl:not(:last-child) { border-right-width: 1.5rem }

    /********* BORDER RADIUS *********/
    .br-0 { border-radius: 0px }
    .br-1 { border-radius: 1px }
    .br-2 { border-radius: 2px }
    .br-3 { border-radius: 3px; }
    .br-4 { border-radius: 4px; }
    .br-5 { border-radius: 5px }
    .br-6 { border-radius: 6px }
    .br-7 { border-radius: 7px }
    .br-8 { border-radius: 8px }
    .br-9 { border-radius: 9px }
    .br-10 { border-radius: 10px }
    .br-11 { border-radius: 11px }
    .br-12 { border-radius: 12px }
    .br-13 { border-radius: 13px }
    .br-14 { border-radius: 14px }
    .br-15 { border-radius: 15px }
    .br-20 { border-radius: 20px }
    .br-25 { border-radius: 25px }
    .br-27 { border-radius: 27px }
    .br-30 { border-radius: 30px }
    .br-35 { border-radius: 35px }
    .br-40 { border-radius: 40px }
    .br-45 { border-radius: 45px }
    .br-50 { border-radius: 50px }
    .br-60 { border-radius: 60px }
    .br-70 { border-radius: 70px }
    .br-75 { border-radius: 75px }
    .br-80 { border-radius: 80px }
    .br-90 { border-radius: 90px }
    .br-100 { border-radius: 100px }
    .br-125 { border-radius: 125px }
    .br-150 { border-radius: 150px }
    .br-175 { border-radius: 175px }
    .br-200 { border-radius: 200px }

    /****************************************** BORDER STYLE ******************************************/
    /* BORDER STYLE - ALL */
    .bs-none { border-style: none }
    .bs-hidden { border-style: hidden }
    .bs-dotted { border-style: dotted }
    .bs-dashed { border-style: dashed }
    .bs-solid { border-style: solid }
    .bs-double { border-style: double }
    .bs-groove { border-style: groove }
    .bs-ridge { border-style: ridge }
    .bs-inset { border-style: double }
    .bs-outset { border-style: outset }

    /*** Border-style: all but last in list ***/
    .bs-none-nl:no(:last-child) { border-style: none }
    .bs-hidden-nl:no(:last-child) { border-style: hidden }
    .bs-dotted-nl:no(:last-child) { border-style: dotted }
    .bs-dashed-nl:no(:last-child) { border-style: dashed }
    .bs-solid-nl:no(:last-child) { border-style: solid }
    .bs-double-nl:no(:last-child) { border-style: double }
    .bs-groove-nl:no(:last-child) { border-style: groove }
    .bs-ridge-nl:no(:last-child) { border-style: ridge }
    .bs-inset-nl:no(:last-child) { border-style: double }
    .bs-outset-nl:no(:last-child) { border-style: outset }

    /* BORDER STYLE - LEFT */
    .bls-none { border-left-style: none }
    .bls-hidden { border-left-style: hidden }
    .bls-dotted { border-left-style: dotted }
    .bls-dashed { border-left-style: dashed }
    .bls-solid { border-left-style: solid }
    .bls-double { border-left-style: double }
    .bls-groove { border-left-style: groove }
    .bls-ridge { border-left-style: ridge }
    .bls-inset { border-left-style: double }
    .bls-outset { border-left-style: outset }

    /* BORDER STYLE - BOTTOM */
    .bbs-none { border-bottom-style: none }
    .bbs-hidden { border-bottom-style: hidden }
    .bbs-dotted { border-bottom-style: dotted }
    .bbs-dashed { border-bottom-style: dashed }
    .bbs-solid { border-bottom-style: solid }
    .bbs-double { border-bottom-style: double }
    .bbs-groove { border-bottom-style: groove }
    .bbs-ridge { border-bottom-style: ridge }
    .bbs-inset { border-bottom-style: double }
    .bbs-outset { border-bottom-style: outset }

    /* Border style - right */
    .brs-solid { border-right-style: solid }

    /*** Border-style-bottom: all but last in list ***/
    .bbs-none-nl:no(:last-child) { border-bottom-style: none }
    .bbs-hidden-nl:no(:last-child) { border-bottom-style: hidden }
    .bbs-dotted-nl:no(:last-child) { border-bottom-style: dotted }
    .bbs-dashed-nl:no(:last-child) { border-bottom-style: dashed }
    .bbs-solid-nl:no(:last-child) { border-bottom-style: solid }
    .bbs-double-nl:no(:last-child) { border-bottom-style: double }
    .bbs-groove-nl:no(:last-child) { border-bottom-style: groove }
    .bbs-ridge-nl:no(:last-child) { border-bottom-style: ridge }
    .bbs-inset-nl:no(:last-child) { border-bottom-style: double }
    .bbs-outset-nl:no(:last-child) { border-bottom-style: outset }

    /* BORDER STYLE - TOP */
    .bts-none { border-top-style: none }
    .bts-hidden { border-top-style: hidden }
    .bts-dotted { border-top-style: dotted }
    .bts-dashed { border-top-style: dashed }
    .bts-solid { border-top-style: solid }
    .bts-double { border-top-style: double }
    .bts-groove { border-top-style: groove }
    .bts-ridge { border-top-style: ridge }
    .bts-inset { border-top-style: double }
    .bts-outset { border-top-style: outset }

    /*** Border-style-top: all but last in list ***/
    .bts-none-nl:no(:last-child) { border-top-style: none }
    .bts-hidden-nl:no(:last-child) { border-top-style: hidden }
    .bts-dotted-nl:no(:last-child) { border-top-style: dotted }
    .bts-dashed-nl:no(:last-child) { border-top-style: dashed }
    .bts-solid-nl:no(:last-child) { border-top-style: solid }
    .bts-double-nl:no(:last-child) { border-top-style: double }
    .bts-groove-nl:no(:last-child) { border-top-style: groove }
    .bts-ridge-nl:no(:last-child) { border-top-style: ridge }
    .bts-inset-nl:no(:last-child) { border-top-style: double }
    .bts-outset-nl:no(:last-child) { border-top-style: outset }

    /*** Border bottom color: light gray ***/
    .border-bottom-color { border-bottom-color: lightgray }

    /* Border Left */
    .bl-5 {
        border-left-width: 5px;
        border-left-style: solid;
    }

    .b-hidden {
        border-width: 0px;
        border-style: hidden;
        border-color: transparent;
        box-shadow: 0 0 0 transparent;
    }

    /****************************************** BORDER COLOR ******************************************/
    .bc-black { border-color: black }
    .bc-faint-gray { border-color: $faintGray }
    .bc-light-gray { border-color: $lightGray }
    .bc-white { border-color: $white }
    .bc-red { border-color: $red }

    .brc-black { border-right-color: black }
    .brc-faint-gray { border-right-color: $faintGray }
    .brc-light-gray { border-right-color: $lightGray }
    .brc-white { border-right-color: $white }

    .blc-black { border-left-color: black }
    .blc-faint-gray { border-left-color: $faintGray }
    .blc-light-gray { border-left-color: $lightGray }
    .blc-white { border-left-color: $white }

    .btc-black { border-top-color: black }
    .btc-faint-gray { border-top-color: $faintGray }
    .btc-light-gray { border-top-color: $lightGray }
    .btc-white { border-top-color: $white }

    .bbc-black { border-bottom-color: black }
    .bbc-faint-gray { border-bottom-color: $faintGray }
    .bbc-light-gray { border-bottom-color: $lightGray }
    .bbc-white { border-bottom-color: $white }

    /***************************************** BOX SHADOW *****************************************/
    .box-shadow-none { box-shadow: none }
}
