// TODO Add display: flex to all utils prefixed by `flex-` e.g. `flex-as-center`
//  Example:  .flex-as-center {display: flex; align-self: center}

@import './margin.scss';
@import './padding.scss';
@import './border.scss';

@import './margin.scss';
@import './padding.scss';
@import './border.scss';

:global {
    /***************************************** DISPLAYS *******************************************/
    .inline              {display: inline      }
    .block               {display: block       }
    .inline-block        {display: inline-block}
    .display-none, .none {display: none        }

    .flex {display: flex}
    .inline-flex {display: inline-flex }

    /************ table ************/
    .table        {display: table}

    .table-col,
    .table-column,
    .display-col,
    .display-td,
    .display-table-col,
    .display-table-column {display: table-column}

    .table-row,
    .display-row,
    .display-tr,
    .display-table-row    {display: table-row   }

    .table-cell,
    .display-cell,
    .display-table-cell   {display: table-cell  }

/********************************************** FLEX **********************************************/
    /************ justify-content ************/
    .flex.start         {justify-content: flex-start   }
    .flex.end           {justify-content: flex-end     }
    .flex.center        {justify-content: center       }
    .flex.space-around  {justify-content: space-around }
    .flex.space-between {justify-content: space-between}


    /************ flex :: flex-grow **************/
    .flex-grow-0  {flex-grow: 0 }
    .flex-grow-1  {flex-grow: 1 }
    .flex-grow-2  {flex-grow: 2 }
    .flex-grow-3  {flex-grow: 3 }
    .flex-grow-4  {flex-grow: 4 }
    .flex-grow-5  {flex-grow: 5 }
    .flex-grow-6  {flex-grow: 6 }
    .flex-grow-7  {flex-grow: 7 }
    .flex-grow-8  {flex-grow: 8 }
    .flex-grow-9  {flex-grow: 9 }
    .flex-grow-10 {flex-grow: 10}

    /************ flex :: flex-shrink ************/
    .flex-shrink-0  {flex-shrink: 0 }
    .flex-shrink-1  {flex-shrink: 1 }
    .flex-shrink-2  {flex-shrink: 2 }
    .flex-shrink-3  {flex-shrink: 3 }
    .flex-shrink-4  {flex-shrink: 4 }
    .flex-shrink-5  {flex-shrink: 5 }
    .flex-shrink-6  {flex-shrink: 6 }
    .flex-shrink-7  {flex-shrink: 7 }
    .flex-shrink-8  {flex-shrink: 8 }
    .flex-shrink-9  {flex-shrink: 9 }
    .flex-shrink-10 {flex-shrink: 10}

    /************ flex :: align-items ************/
    .flex.ai-mid,
    .flex.ai-middle,
    .flex.ai-center    {align-items: center    }
    .flex.ai-fe,
    .flex.ai-end,
    .flex.ai-flexend   {align-items: flex-end  }
    .flex.ai-fs,
    .flex.ai-start,
    .flex.ai-flexstart {align-items: flex-start}

    .flex.align-items-mid,
    .flex.align-items-middle,
    .flex.align-items-center    {align-items: center    }
    .flex.align-items-fe,
    .flex.align-items-end,
    .flex.align-items-flexend   {align-items: flex-end  }
    .flex.align-items-fs,
    .flex.align-items-start,
    .flex.align-items-flexstart {align-items: flex-start}

    /************ flex :: align-self ************/
    .flex-as-mid,     .flex.as-mid,
    .flex-as-middle,  .flex.as-middle,
    .flex-as-center,  .flex.as-center  {align-self: center    }
    .flex-as-fs,      .flex.as-fs,
    .flex-as-fstart,  .flex.as-fstart,
    .flex-as-start,   .flex.as-start   {align-self: flex-start}
    .flex-as-fe,      .flex.as-fe,
    .flex-as-fend,    .flex.as-fend,
    .flex-as-end,     .flex.as-end     {align-self: flex-end  }
    .flex-as-stretch, .flex.as-stretch {align-self: stretch   }

    .flex-alignself-mid,     .alignself-mid,
    .flex-alignself-middle,  .alignself-middle,
    .flex-alignself-center,  .alignself-center  {align-self: center    }
    .flex-alignself-fs,      .alignself-fs,
    .flex-alignself-start,   .alignself-start,
    .flex-alignself-fstart,  .alignself-fstart  {align-self: flex-start}
    .flex-alignself-fe,      .alignself-fe,
    .flex-alignself-end,     .alignself-end,
    .flex-alignself-fend,    .alignself-fend    {align-self: flex-end  }
    .flex-alignself-stretch, .alignself-stretch {align-self: stretch   }

    .flex-align-self-mid,     .align-self-mid,
    .flex-align-self-middle,  .align-self-middle,
    .flex-align-self-center,  .align-self-center  {align-self: center    }
    .flex-align-self-fs,      .align-self-fs,
    .flex-align-self-fstart,  .align-self-fstart,
    .flex-align-self-start,   .align-self-start   {align-self: flex-start}
    .flex-align-self-fe,      .align-self-fe,
    .flex-align-self-fend,    .align-self-fend,
    .flex-align-self-end,     .align-self-end     {align-self: flex-end  }
    .flex-align-self-stretch, .align-self-stretch {align-self: stretch   }

    /************ flex :: flex-direction ************/
    .flex-col,              .flex.col,
    .flex-column,           .flex.column,
    .flex-dir-col,          .flex.dir-col,
    .flex-dir-column,       .flex.dir-column,
    .flex-direction-col,    .flex.direction-col,
    .flex-direction-column, .flex.direction-column {flex-direction: column}
    .flex-row,              .flex.row,
    .flex-dir-row,          .flex.dir-row,
    .flex-direction-row,    .flex.direction-row    {flex-direction: row   }

    /************ flex :: flex-wrap *****************/
    .flex-wrap,         .flex.wrap,        {flex-wrap: wrap        }
    .flex-no-wrap,      .flex.no-wrap      {flex-wrap: nowrap      }
    .flex-wrap-rev,     .flex.wrap-rev,
    .flex-wrap-reverse, .flex.wrap-reverse {flex-wrap: wrap-reverse}

    /************************************** VERTICAL-ALIGN ****************************************/
    .va-middle {vertical-align: middle}
    .va-bottom {vertical-align: bottom}
    .va-top    {vertical-align: top   }

    /*************************************** STYLE GROUPS *****************************************/
    /** Faint bottom border */
    .bb-theme-faint {
        border-bottom: #eee 1px solid;
    }

    /**************************************** POSITIONING ******************************************/
    .center-horizontal {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    /****** CENTER-VERTICAL COLLECTION ******/
    // [1] Set as parent
    .center-vertical-parent {position: relative}

    // [2] Set as child, to be vertically centered in parents
    .center-vertical-child {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /********************** TRANSLATION **********************/
    .transform-translate-y-n50p {transform: translateY(-50%)  }
    .transform-translate-0n50p  {transform: translate(0, -50%)}

    /********************** ROTATION **********************/
    .rotate-0deg   {transform: rotate(0deg)  }
    .rotate-45deg  {transform: rotate(45deg) }
    .rotate-90deg  {transform: rotate(90deg) }
    .rotate-135deg {transform: rotate(135deg)}
    .rotate-180deg {transform: rotate(180deg)}
    .rotate-225deg {transform: rotate(225deg)}
    .rotate-270deg {transform: rotate(270deg)}
    .rotate-315deg {transform: rotate(315deg)}

    /****************************************** OVERFLOW ******************************************/
    .overflow-x-hidden,  .ovx-hidden  {overflow-x: hidden }
    .overflow-y-hidden,  .ovy-hidden  {overflow-y: hidden }
    .overflow-x-scroll,  .ovx-scroll  {overflow-x: scroll }
    .overflow-y-scroll,  .ovy-scroll  {overflow-y: scroll }
    .overflow-x-auto,    .ovx-auto    {overflow-x: auto   }
    .overflow-y-auto,    .ovy-auto    {overflow-y: auto   }
    .overflow-x-overlay, .ovx-overlay {overflow-x: overlay}
    .overflow-y-overlay, .ovy-overlay {overflow-y: overlay}
    .overflow-x-visible, .ovx-visible {overflow-x: visible}
    .overflow-y-visible, .ovy-visible {overflow-y: visible}
}
