@import './margin.scss';
@import './padding.scss';
@import './border.scss';

@import './margin.scss';
@import './padding.scss';
@import './border.scss';

:global {
    /***************************************** DISPLAYS *******************************************/
    .display-inline,       .inline       { display: inline }
    .display-block,        .block        { display: block }
    .display-none,         .none         { display: none }
    .display-inline-block, .inline-block { display: inline-block }

    .flex, .display-flex                        { display: flex }
    .inflex, .inline-flex, .display-inline-flex { display: inline-flex  }

    /************ table ************/
    .table,
    .display-table        { display: table        }

    .display-col,
    .display-td,
    .display-table-column { display: table-column }

    .display-row,
    .display-tr,
    .display-table-row    { display: table-row    }

    .display-cell,
    .display-table-cell   { display: table-cell   }

/********************************************** FLEX **********************************************/
    /************ justify-content ************/
    .flex.justify-content-fs,
    .flex.justify-content-start         { justify-content: flex-start    }
    .flex.justify-content-fe,
    .flex.justify-content-end           { justify-content: flex-end      }
    .flex.justify-content-center,
    .flex.justify-content-mid           { justify-content: center        }
    .flex.justify-content-space-around,
    .flex.justify-content-around,
    .flex.justify-content-sa            { justify-content: space-around  }
    .flex.justify-content-space-between,
    .flex.justify-content-between,
    .flex.justify-content-sb            { justify-content: space-between }

    .flex-justify-content-fs,
    .flex-justify-content-start         { justify-content: flex-start    }
    .flex-justify-content-fe,
    .flex-justify-content-end           { justify-content: flex-end      }
    .flex-justify-content-center,
    .flex-justify-content-mid           { justify-content: center        }
    .flex-justify-content-space-around,
    .flex-justify-content-around,
    .flex-justify-content-sa            { justify-content: space-around  }
    .flex-justify-content-space-between,
    .flex-justify-content-between,
    .flex-justify-content-sb            { justify-content: space-between }

    .flex.jc-fs,
    .flex-jc-fs,
    .flex.jc-start,
    .flex-jc-start                      { justify-content: flex-start    }
    .flex.jc-fe, .flex-jc-fe,
    .flex.jc-end, .flex-jc-end          { justify-content: flex-end      }
    .flex.jc-center,
    .flex-jc-center,
    .flex.jc-middle,
    .flex-jc-middle,
    .flex.jc-mid,
    .flex-jc-mid                        { justify-content: center        }
    .flex.jc-sa, .flex-jc-sa,
    .flex.jc-space-around,
    .flex-jc-space-around,
    .flex.jc-around,
    .flex-jc-around                     { justify-content: space-around  }
    .flex.jc-sb, .flex-jc-sb,
    .flex.jc-space-between,
    .flex-jc-space-between,
    .flex.jc-between,
    .flex-jc-between                    { justify-content: space-between }

    .flex.justifycontent-fs,
    .flex-justifycontent-fs,
    .flex.justifycontent-start,
    .flex-justifycontent-start          { justify-content: flex-start    }
    .flex.justifycontent-fe,
    .flex-justifycontent-fe,
    .flex.justifycontent-end,
    .flex-justifycontent-end            { justify-content: flex-end      }
    .flex.justifycontent-center,
    .flex-justifycontent-center,
    .flex.justifycontent-middle,
    .flex-justifycontent-middle,
    .flex.justifycontent-mid,
    .flex-justifycontent-mid            { justify-content: center        }
    .flex.justifycontent-sa,
    .flex-justifycontent-sa,
    .flex.justifycontent-space-around,
    .flex-justifycontent-space-around,
    .flex.justifycontent-around,
    .flex-justifycontent-around         { justify-content: space-around  }
    .flex.justifycontent-sb,
    .flex-justifycontent-sb,
    .flex.justifycontent-space-between,
    .flex-justifycontent-space-between,
    .flex.justifycontent-between,
    .flex-justifycontent-between        { justify-content: space-between }

    .flex.start          { justify-content: flex-start    }
    .flex-start          { justify-content: flex-start    }
    .flex.end            { justify-content: flex-end      }
    .flex-end            { justify-content: flex-end      }
    .flex.center,
    .flex-center,
    .flex.middle,
    .flex-middle,
    .flex.mid,
    .flex-mid            { justify-content: center        }
    .flex.sa,
    .flex.spacearound,
    .flex.space-around,
    .flex-space-around   { justify-content: space-around  }
    .flex.sb,
    .flex.space-between,
    .flex.spacebetween,
    .flex-space-between  { justify-content: space-between }


    /************ flex :: flex-grow **************/
    .flex-grow-0  { flex-grow: 0  }
    .flex-grow-1  { flex-grow: 1  }
    .flex-grow-2  { flex-grow: 2  }
    .flex-grow-3  { flex-grow: 3  }
    .flex-grow-4  { flex-grow: 4  }
    .flex-grow-5  { flex-grow: 5  }
    .flex-grow-6  { flex-grow: 6  }
    .flex-grow-7  { flex-grow: 7  }
    .flex-grow-8  { flex-grow: 8  }
    .flex-grow-9  { flex-grow: 9  }
    .flex-grow-10 { flex-grow: 10 }

    /************ flex :: flex-shrink ************/
    .flex-shrink-0  { flex-shrink: 0  }
    .flex-shrink-1  { flex-shrink: 1  }
    .flex-shrink-2  { flex-shrink: 2  }
    .flex-shrink-3  { flex-shrink: 3  }
    .flex-shrink-4  { flex-shrink: 4  }
    .flex-shrink-5  { flex-shrink: 5  }
    .flex-shrink-6  { flex-shrink: 6  }
    .flex-shrink-7  { flex-shrink: 7  }
    .flex-shrink-8  { flex-shrink: 8  }
    .flex-shrink-9  { flex-shrink: 9  }
    .flex-shrink-10 { flex-shrink: 10 }

    /************ flex :: align-items ************/
    .flex-ai-center             { align-items: center     }
    .flex-ai-fe,
    .flex-ai-flexend,
    .flex-ai-end                { align-items: flex-end   }
    .flex-ai-fs,
    .flex-ai-flexstart,
    .flex-ai-start              { align-items: flex-start }

    .flex.alignitems-center,
    .flex-alignitems-center,
         .alignitems-center     { align-items: center }
    .flex.alignitems-fe,
    .flex-alignitems-fe,
         .alignitems-fe,
    .flex.alignitems-flexend,
    .flex-alignitems-flexend,
         .alignitems-flexend,
    .flex.alignitems-end,
    .flex-alignitems-end,
         .alignitems-end        { align-items: flex-end }
    .flex.alignitems-fs,
    .flex-alignitems-fs,
         .alignitems-fs,
    .flex.alignitems-flexstart,
    .flex-alignitems-flexstart,
         .alignitems-flexstart,
    .flex.alignitems-start,
    .flex-alignitems-start,
         .alignitems-start      { align-items: flex-start }

    .flex.align-items-center,
    .flex-align-items-center,
         .align-items-center    { align-items: center     }
    .flex.align-items-fe,
    .flex-align-items-fe,
         .align-items-fe,
    .flex.align-items-flexend,
    .flex-align-items-flexend,
         .align-items-flexend,
    .flex.align-items-end,
    .flex-align-items-end,
         .align-items-end       { align-items: flex-end   }
    .flex.align-items-fs,
         .align-items-fs,
    .flex-align-items-fs,
    .flex.align-items-flexstart,
    .flex-align-items-flexstart,
         .align-items-flexstart,
    .flex.align-items-start,
    .flex-align-items-start,
         .align-items-start,    { align-items: flex-start }

    /************ flex :: align-self ************/
    .flex-as-middle,
    .flex-as-mid,
    .flex-as-center,
    .flex-as-cen,
    .flex-as-cnt             { align-self: center     }
    .flex-as-fs,
    .flex-as-fstart,
    .flex-as-start           { align-self: flex-start }
    .flex-as-fe,
    .flex-as-fend,
    .flex-as-end             { align-self: flex-end   }
    .flex-as-stretch         { align-self: stretch    }

    .flex.alignself-middle,
    .flex-alignself-middle,
         .alignself-middle,
    .flex.alignself-mid,
    .flex-alignself-mid,
         .alignself-mid,
    .flex.alignself-center,
    .flex-alignself-center,
         .alignself-center,
    .flex.alignself-cen,
    .flex-alignself-cen,
         .alignself-cen,
    .flex.alignself-cnt,
    .flex-alignself-cnt,
         .alignself-cnt      { align-self: center     }
    .flex.alignself-fs,
    .flex-alignself-fs,
         .alignself-fs,
    .flex.alignself-fstart,
    .flex-alignself-fstart,
         .alignself-fstart,
    .flex.alignself-start,
    .flex-alignself-start,
         .alignself-start    { align-self: flex-start }
    .flex.alignself-fe,
    .flex-alignself-fe,
         .alignself-fe,
    .flex.alignself-fend,
    .flex-alignself-fend,
         .alignself-fend,
    .flex.alignself-end,
    .flex-alignself-end,
         .alignself-end      { align-self: flex-end   }
    .flex.alignself-stretch,
    .flex-alignself-stretch,
         .alignself-stretch  { align-self: stretch    }

    .flex.align-self-middle,
    .flex-align-self-middle,
         .align-self-middle,
    .flex.align-self-mid,
    .flex-align-self-mid,
         .align-self-mid,
    .flex.align-self-center,
    .flex-align-self-center,
         .align-self-center,
    .flex.align-self-cen,
    .flex-align-self-cen,
         .align-self-cen,
    .flex.align-self-cnt,
    .flex-align-self-cnt,
         .align-self-cnt     { align-self: center     }
    .flex.align-self-fs,
    .flex-align-self-fs,
         .align-self-fs,
    .flex.align-self-fstart,
    .flex-align-self-fstart,
         .align-self-fstart,
    .flex.align-self-start,
    .flex-align-self-start,
         .align-self-start   { align-self: flex-start }
    .flex.align-self-fe,
    .flex-align-self-fe,
         .align-self-fe,
    .flex.align-self-fend,
    .flex-align-self-fend,
         .align-self-fend,
    .flex.align-self-end,
    .flex-align-self-end,
         .align-self-end     { align-self: flex-end   }
    .flex.align-self-stretch,
    .flex-align-self-stretch,
    .align-self-stretch      { align-self: stretch    }

    /************ flex :: flex-direction ************/
    .flex.direction-column,
    .flex.direction-col    { flex-direction: column }
    .flex.direction-row    { flex-direction: row    }

    .flex-direction-column,
    .flex-direction-col    { flex-direction: column }
    .flex-direction-row    { flex-direction: row    }

    .flex.dir-col,
    .flex.dir-column       { flex-direction: column }
    .flex.dir-row          { flex-direction: row    }

    .flex-dir-col,
    .flex-dir-column       { flex-direction: column }
    .flex-dir-row          { flex-direction: row    }

    .flex-col,
    .flex-column           { flex-direction: column }
    .flex-row              { flex-direction: row    }

    .flex.col,
    .flex.column           { flex-direction: column }
    .flex.row              { flex-direction: row    }

    /************ flex :: flex-wrap *****************/
    .flex.wrap         { flex-wrap: wrap         }
    .flex.no-wrap      { flex-wrap: nowrap       }
    .flex.wrap-reverse { flex-wrap: wrap-reverse }
    .flex.wrap-rev     { flex-wrap: wrap-reverse }

    .flex-wrap         { flex-wrap: wrap         }
    .flex-no-wrap      { flex-wrap: nowrap       }
    .flex-wrap-reverse { flex-wrap: wrap-reverse }
    .flex-wrap-rev     { flex-wrap: wrap-reverse }

    /************************************** VERTICAL-ALIGN ****************************************/
    .va-middle { vertical-align: middle }
    .va-bottom { vertical-align: bottom }
    .va-top    { vertical-align: top    }

    /*************************************** STYLE GROUPS *****************************************/
    /** Faint bottom border */
    .bb-theme-faint {
        border-bottom: #eee 1px solid;
    }

    /**************************************** POSITIONING ******************************************/
    .center-horizontal {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .center-vertical-parent { position: relative }
    .center-vertical-child {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /********************** TRANSLATION **********************/
    .transform-translate-y-n50p { transform: translateY(-50%) }
    .transform-translate-0n50p { transform: translate(0, -50%) }

    /********************** ROTATION **********************/
    .rotate-0deg { transform: rotate(0deg) }
    .rotate-45deg { transform: rotate(45deg) }
    .rotate-90deg { transform: rotate(90deg) }
    .rotate-135deg { transform: rotate(135deg) }
    .rotate-180deg { transform: rotate(180deg) }
    .rotate-225deg { transform: rotate(225deg) }
    .rotate-270deg { transform: rotate(270deg) }
    .rotate-315deg { transform: rotate(315deg) }

    /****************************************** OVERFLOW ******************************************/
    .overflow-x-hidden { overflow-x: hidden }
    .overflow-y-hidden { overflow-y: hidden }
    .overflow-x-scroll { overflow-x: scroll }
    .overflow-y-scroll { overflow-y: scroll }
    .overflow-x-auto { overflow-x: auto }
    .overflow-y-auto { overflow-y: auto }
    .overflow-x-overlay { overflow-x: overlay }
    .overflow-y-overlay { overflow-y: overlay }
    .overflow-x-visible { overflow-x: visible }
    .overflow-y-visible { overflow-y: visible }
}
