@import './margin.scss';
@import './padding.scss';
@import './border.scss';

@import './margin.scss';
@import './padding.scss';
@import './border.scss';

:global {
    /***************************************** DISPLAYS *******************************************/
    .inline       {display: inline      }
    .block        {display: block       }
    .inline-block {display: inline-block}
    .none         {display: none        }

    .flex        {display: flex}
    .inline-flex {display: inline-flex }

    /************ table ************/
    .table        {display: table}
    .table-col,
    .table-column {display: table-column}
    .table-row    {display: table-row   }
    .table-cell   {display: table-cell  }

/********************************************** FLEX **********************************************/
    /************ justify-content ************/
    .inline-flex.start,         .flex.start         {justify-content: flex-start   }
    .inline-flex.end,           .flex.end           {justify-content: flex-end     }
    .inline-flex.center,        .flex.center        {justify-content: center       }
    .inline-flex.space-around,  .flex.space-around  {justify-content: space-around }
    .inline-flex.space-between, .flex.space-between {justify-content: space-between}


    /************ flex :: flex-grow **************/
    // [PRUNE] Prune in shrunken version
    .flex-grow-0  {flex-grow: 0 }
    .flex-grow-1  {flex-grow: 1 }
    .flex-grow-2  {flex-grow: 2 }
    .flex-grow-3  {flex-grow: 3 }
    .flex-grow-4  {flex-grow: 4 }
    .flex-grow-5  {flex-grow: 5 }
    .flex-grow-6  {flex-grow: 6 }
    .flex-grow-7  {flex-grow: 7 }
    .flex-grow-8  {flex-grow: 8 }
    .flex-grow-9  {flex-grow: 9 }
    .flex-grow-10 {flex-grow: 10}

    /************ flex :: flex-shrink ************/
    // [PRUNE] Prune in shrunken version
    .flex-shrink-0  {flex-shrink: 0 }
    .flex-shrink-1  {flex-shrink: 1 }
    .flex-shrink-2  {flex-shrink: 2 }
    .flex-shrink-3  {flex-shrink: 3 }
    .flex-shrink-4  {flex-shrink: 4 }
    .flex-shrink-5  {flex-shrink: 5 }
    .flex-shrink-6  {flex-shrink: 6 }
    .flex-shrink-7  {flex-shrink: 7 }
    .flex-shrink-8  {flex-shrink: 8 }
    .flex-shrink-9  {flex-shrink: 9 }
    .flex-shrink-10 {flex-shrink: 10}

    /************ flex :: align-items ************/
    .flex.ai-center,          .inline-flex.ai-center,
    .flex.align-items-center, .inline-flex.align-items-center {align-items: center    }

    .flex.ai-end,             .inline-flex.ai-end,
    .flex.align-items-end,    .inline-flex.align-items-end    {align-items: flex-end  }

    .flex.ai-start,           .inline-flex.ai-start,
    .flex.align-items-start,  .inline-flex.align-items-start  {align-items: flex-start}

    /************ flex :: align-self ************/
    .align-self-center  {align-self: center    }
    .align-self-start   {align-self: flex-start}
    .align-self-end     {align-self: flex-end  }
    .align-self-stretch {align-self: stretch   }

    /************ flex :: flex-direction ************/
    .inline-flex.col,    .flex.col,
    .inline-flex.column, .flex.column {flex-direction: column}
    .inline-flex.row,    .flex.row    {flex-direction: row   }

    /************ flex :: flex-wrap *****************/
    .flex-wrap,         .flex.wrap,    .inline-flex.wrap              {flex-wrap: wrap        }
    .flex-no-wrap,      .flex.no-wrap, .inline-flex.no-wrap           {flex-wrap: nowrap      }

    .flex-wrap-rev,     .flex.wrap-rev,     .inline-flex.wrap-rev,
    .flex-wrap-reverse, .flex.wrap-reverse, .inline-flex.wrap-reverse {flex-wrap: wrap-reverse}

    /************************************** VERTICAL-ALIGN ****************************************/
    .va-middle {vertical-align: middle}
    .va-bottom {vertical-align: bottom}
    .va-top    {vertical-align: top   }

    /*************************************** STYLE GROUPS *****************************************/
    /** Faint bottom border */
    .bb-theme-faint {
        border-bottom: #eee 1px solid;
    }

    /**************************************** POSITIONING ******************************************/
    .center-horizontal {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    /****** CENTER-VERTICAL COLLECTION ******/
    // [1] Set as parent
    .center-vertical-parent {position: relative}

    // [2] Set as child, to be vertically centered in parents
    .center-vertical-child {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /********************** TRANSLATION **********************/
    .transform-translate-y-n50p {transform: translateY(-50%)  }
    .transform-translate-0n50p  {transform: translate(0, -50%)}

    /********************** ROTATION **********************/
    .rotate-0deg   {transform: rotate(0deg)  }
    .rotate-45deg  {transform: rotate(45deg) }
    .rotate-90deg  {transform: rotate(90deg) }
    .rotate-135deg {transform: rotate(135deg)}
    .rotate-180deg {transform: rotate(180deg)}
    .rotate-225deg {transform: rotate(225deg)}
    .rotate-270deg {transform: rotate(270deg)}
    .rotate-315deg {transform: rotate(315deg)}

    /****************************************** OVERFLOW ******************************************/
    .ovx-hidden  {overflow-x: hidden }
    .ovy-hidden  {overflow-y: hidden }
    .ovx-scroll  {overflow-x: scroll }
    .ovy-scroll  {overflow-y: scroll }
    .ovx-auto    {overflow-x: auto   }
    .ovy-auto    {overflow-y: auto   }
    .ovx-overlay {overflow-x: overlay}
    .ovy-overlay {overflow-y: overlay}
    .ovx-visible {overflow-x: visible}
    .ovy-visible {overflow-y: visible}
}
